:root{
    --primary-color: #2563eb;
    --primary-dark: #1d4ed8;
    --secondary-color: #4f46e5;
    --success-color: #10b981;
    --danger-color: #ef4444;
    --warning-color: #f59e0b;


    --background-color: #f5f5f5;
    --text-color: #333333;
}